<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>testi</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>testi</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5ad4db0c18fc47288260fa467a9ba145.png" alt="testi" usemap="#id-5ad4db0c18fc47288260fa467a9ba145map"/>
			   <map name="id-5ad4db0c18fc47288260fa467a9ba145map">
				  		<area shape="rect" coords="10,202,130,257" href="../elements/id-0e99dcd5d4684a088e36d21e47c9c24e.html"  target="element">
				  		<area shape="rect" coords="10,54,130,109" href="../elements/id-6e3aa1e632e747d79e84a822bd2ae0e5.html"  target="element">
				  		<area shape="rect" coords="298,226,418,281" href="../elements/id-3ea7c68dd2e94b57b426e53986714b29.html"  target="element">
				  		<area shape="rect" coords="298,10,418,65" href="../elements/id-e6c791e5fd8a4436a9575e35251d5465.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e6c791e5fd8a4436a9575e35251d5465.html" target="element"> systeemi 1 </a> </td>
											    <td> <a href="../elements/id-e6c791e5fd8a4436a9575e35251d5465.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3ea7c68dd2e94b57b426e53986714b29.html" target="element"> systeemi2 </a> </td>
											    <td> <a href="../elements/id-3ea7c68dd2e94b57b426e53986714b29.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6e3aa1e632e747d79e84a822bd2ae0e5.html" target="element"> eka </a> </td>
											    <td> <a href="../elements/id-6e3aa1e632e747d79e84a822bd2ae0e5.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e99dcd5d4684a088e36d21e47c9c24e.html" target="element"> toka </a> </td>
											    <td> <a href="../elements/id-0e99dcd5d4684a088e36d21e47c9c24e.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-267c3e3f3a0f4f8597d086fae4e7d72f.html" target="element"> eka </a> </td>
																		<td> <a href="../elements/id-267c3e3f3a0f4f8597d086fae4e7d72f.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e6c791e5fd8a4436a9575e35251d5465.html" target="element"> systeemi 1 </a> </td>
																		<td> <a href="../elements/id-3ea7c68dd2e94b57b426e53986714b29.html" target="element"> systeemi2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-61372290a50a41baa4e5ce26ef1c189d.html" target="element"> toka </a> </td>
																		<td> <a href="../elements/id-61372290a50a41baa4e5ce26ef1c189d.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e6c791e5fd8a4436a9575e35251d5465.html" target="element"> systeemi 1 </a> </td>
																		<td> <a href="../elements/id-3ea7c68dd2e94b57b426e53986714b29.html" target="element"> systeemi2 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-92b7e371ff1348d79f15666959ce1964.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-92b7e371ff1348d79f15666959ce1964.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6e3aa1e632e747d79e84a822bd2ae0e5.html" target="element"> eka </a> </td>
																		<td> <a href="../elements/id-0e99dcd5d4684a088e36d21e47c9c24e.html" target="element"> toka </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-acf801b0abca4342b91e347714ae1e47.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-acf801b0abca4342b91e347714ae1e47.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6e3aa1e632e747d79e84a822bd2ae0e5.html" target="element"> eka </a> </td>
																		<td> <a href="../elements/id-0e99dcd5d4684a088e36d21e47c9c24e.html" target="element"> toka </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>