<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Default View</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Default View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-motivation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-bc816bbee3f7451fbd1ee9352ec14c42.png" alt="Default View" usemap="#id-bc816bbee3f7451fbd1ee9352ec14c42map"/>
			   <map name="id-bc816bbee3f7451fbd1ee9352ec14c42map">
				          <area shape="rect" coords="46,478,249,568" href="../objects/id-25dfba23561e4e50b294d8037bce9c1b.html" target="element" >
				          <area shape="rect" coords="45,370,250,466" href="../objects/id-afa227012b124c2f9c403a9430e25ac0.html" target="element" >
				  				<area shape="rect" coords="1259,1008,1403,1063" href="../elements/id-e934fb7de90d4a148698f96c5aa786e1.html"  target="element">
				  				<area shape="rect" coords="957,622,1161,677" href="../elements/id-3de3aef006ac40fdbce13511c63d7fff.html"  target="element">
				  				<area shape="rect" coords="1226,367,1402,427" href="../elements/id-92ac491cd0ea42d4a7cfee5c866e7e88.html"  target="element">
				  				<area shape="rect" coords="1226,442,1402,497" href="../elements/id-01ea9d8460c54a36a21cb3e25285d9c1.html"  target="element">
				  				<area shape="rect" coords="1226,502,1402,557" href="../elements/id-54ec83f90ba34a759d34ba81166782f1.html"  target="element">
				  				<area shape="rect" coords="1226,562,1402,617" href="../elements/id-34617b2f59db413095e5bbad2ef4efb9.html"  target="element">
				  				<area shape="rect" coords="1059,700,1179,756" href="../elements/id-6bbf7253eb3a4a88ae78c166f4afe08e.html"  target="element">
				  				<area shape="rect" coords="1107,1070,1227,1125" href="../elements/id-b1615d7ee4bf479f8120d059080aafcb.html"  target="element">
				  				<area shape="rect" coords="970,1070,1090,1125" href="../elements/id-08f28d14436f4dfa9367773850dd56cb.html"  target="element">
				  				<area shape="rect" coords="1107,1006,1227,1061" href="../elements/id-0ca95215249448ba95c285ae69976ccf.html"  target="element">
				  				<area shape="rect" coords="969,1136,1089,1191" href="../elements/id-93b24ca8d1f4412493f9949e2e1dc2ee.html"  target="element">
				  				<area shape="rect" coords="970,1006,1090,1061" href="../elements/id-26cb2de6d0f049e3b663fb6cac9d03e9.html"  target="element">
				  				<area shape="rect" coords="1197,934,1353,989" href="../elements/id-97f8772ee6e7433380e46fc8052cf317.html"  target="element">
				  				<area shape="rect" coords="1017,934,1161,989" href="../elements/id-bdde125cc99740b29c6c2d93fcd596a5.html"  target="element">
				  				<area shape="rect" coords="1125,826,1245,881" href="../elements/id-0988f61312f24476937c527a08e1a600.html"  target="element">
				  				<area shape="rect" coords="1197,766,1317,821" href="../elements/id-0332c7fc3b57419693104fe519a9f6fe.html"  target="element">
				  				<area shape="rect" coords="1197,700,1317,755" href="../elements/id-5d689b3953ab49ee82af20b31291d79f.html"  target="element">
				  				<area shape="rect" coords="1059,766,1179,821" href="../elements/id-bf5f771532b247b492a4a4ead731f4f1.html"  target="element">
				  				<area shape="rect" coords="958,562,1160,617" href="../elements/id-0ab740206f8246bb8f29817623acdd25.html"  target="element">
				  				<area shape="rect" coords="957,496,1159,551" href="../elements/id-8e8f96f4195e480e93201bbedaf16562.html"  target="element">
				  				<area shape="rect" coords="957,430,1159,485" href="../elements/id-d739d3a42590459796f5f8643229a534.html"  target="element">
				  				<area shape="rect" coords="957,367,1159,422" href="../elements/id-094855c05c6f44b1be868ab84e8ba892.html"  target="element">

				  		<area shape="rect" coords="933,334,1437,1210" href="../elements/id-75259d9e36f647969b7f8998dc17210c.html"  target="element">
				  		<area shape="rect" coords="322,58,442,113" href="../elements/id-b3919dacbc39497380db7b6910fe9358.html"  target="element">
				  		<area shape="rect" coords="968,214,1088,287" href="../elements/id-7748462e6e1c4660a458b914b2785e56.html"  target="element">
				  		<area shape="rect" coords="837,214,957,287" href="../elements/id-37c5243cc5d64822a27f1ba82659c691.html"  target="element">
				  		<area shape="rect" coords="704,214,824,287" href="../elements/id-202d5b5d07d94789b254277aa8644227.html"  target="element">
				  		<area shape="rect" coords="572,214,692,287" href="../elements/id-c559fb09cd4941f1a7d9c4ed3f8016a6.html"  target="element">
				  		<area shape="rect" coords="1137,58,1257,113" href="../elements/id-cc5a36a8bb384901943dacd7af0d5d04.html"  target="element">
				  		<area shape="rect" coords="1005,58,1125,113" href="../elements/id-63f3b1a5247347388fd3edea594d8b9e.html"  target="element">
				  		<area shape="rect" coords="735,58,855,113" href="../elements/id-07f1aaeef3644190817dd50ddfb26dc6.html"  target="element">
				  		<area shape="rect" coords="461,58,581,113" href="../elements/id-93eabb2b47ac40d1ae5d624befabdbbe.html"  target="element">
				  		<area shape="rect" coords="598,58,718,113" href="../elements/id-366aeacb59924d5694522ce85133e993.html"  target="element">
				          <area shape="rect" coords="45,286,250,366" href="../objects/id-87d84cfdf0b44d9a99122f4eac51f191.html" target="element" >
				          <area shape="rect" coords="527,1006,788,1163" href="../objects/id-f52b900298b74800b44759abb966e172.html" target="element" >
				  		<area shape="rect" coords="177,934,360,1007" href="../elements/id-2691541632754069b6e411e3194005ce.html"  target="element">
				  		<area shape="rect" coords="177,850,361,925" href="../elements/id-b4a793698800402f8088f831873ff7b8.html"  target="element">
				          <area shape="rect" coords="751,767,885,820" href="../objects/id-562b94b0f96f40c89ec417193c744c85.html" target="element" >
				          <area shape="rect" coords="749,358,886,419" href="../objects/id-7cfb3eab9e2d414a8ba2504e22c52907.html" target="element" >
				  		<area shape="rect" coords="177,790,360,845" href="../elements/id-e4d9027a8f8247dbb2a539ed0b0b6f45.html"  target="element">
				          <area shape="rect" coords="322,538,507,618" href="../objects/id-2d830a2d9fa14fedab0d2b541f690be9.html" target="element" >
				          <area shape="rect" coords="45,198,250,278" href="../objects/id-93ccdbf7aa5f4561b3832ac67a16baff.html" target="element" >
				  				<area shape="rect" coords="561,394,741,455" href="../elements/id-bcbad8aa16174b389f8b825ff056daec.html"  target="element">
				  				<area shape="rect" coords="561,682,741,743" href="../elements/id-a7b28ec4f61c41a2acfdac4d05f52633.html"  target="element">
				  				<area shape="rect" coords="561,610,741,671" href="../elements/id-db4970bbf92e4b0ba97d6e84e3d820f2.html"  target="element">
				  				<area shape="rect" coords="561,538,741,599" href="../elements/id-51881218064f4e1ea444960ede6f4f1b.html"  target="element">
				  				<area shape="rect" coords="561,466,741,527" href="../elements/id-b0a03a0f56c841a98810488fdcf9e15c.html"  target="element">
				  				<area shape="rect" coords="561,874,741,935" href="../elements/id-531a5563b57e4ad8a56b91d9c2aea4c5.html"  target="element">
				  				<area shape="rect" coords="549,802,729,863" href="../elements/id-a5c7c6cdfdc14332aadb84cd933ae3ec.html"  target="element">

				  		<area shape="rect" coords="537,358,778,977" href="../elements/id-7e969e7ce89443d388be7f3f60663d42.html"  target="element">
				  		<area shape="rect" coords="309,10,1269,142" href="../elements/id-568e42e56e7e492dae2cfaa384f10548.html"  target="element">
				  		<area shape="rect" coords="561,178,1101,310" href="../elements/id-c7f4185fd876489b9b3d8a87d20a13ce.html"  target="element">
				  				<area shape="rect" coords="177,1018,360,1073" href="../elements/id-0497f48231714d79b179d4c4efd9a129.html"  target="element">
				  				<area shape="rect" coords="185,1078,353,1133" href="../elements/id-31acfc8bf2c1421f9850bb050558e8c7.html"  target="element">

				  		<area shape="rect" coords="149,754,389,1150" href="../elements/id-98b750a04e1c4335a38d6d27b5935955.html"  target="element">
				  		        <area shape="rect" coords="51,580,236,646" href="../objects/id-77459c783bf24f5e8047f0eb0e9add00.html" target="element" >

				  		<area shape="rect" coords="10,166,286,670" href="../elements/id-5ab0e427169640669806b20dc66f6061.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-5ab0e427169640669806b20dc66f6061.html" target="element"> Ajatuksia &amp; huomioita </a> </td>
											    <td> <a href="../elements/id-5ab0e427169640669806b20dc66f6061.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/id-77459c783bf24f5e8047f0eb0e9add00.html" target="element">  </a> </td>
											           <td> <a href="../objects/id-77459c783bf24f5e8047f0eb0e9add00.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/id-98b750a04e1c4335a38d6d27b5935955.html" target="element"> Tekemisen periaatteet </a> </td>
											    <td> <a href="../elements/id-98b750a04e1c4335a38d6d27b5935955.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-31acfc8bf2c1421f9850bb050558e8c7.html" target="element"> Mallit ja diagrammit jaetaan yleis&#246;lle ja ASAP </a> </td>
													    <td> <a href="../elements/id-31acfc8bf2c1421f9850bb050558e8c7.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0497f48231714d79b179d4c4efd9a129.html" target="element"> Kaikki arkkitehtuurikuvat yhteenpaikkaan </a> </td>
													    <td> <a href="../elements/id-0497f48231714d79b179d4c4efd9a129.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c7f4185fd876489b9b3d8a87d20a13ce.html" target="element"> Ajurit </a> </td>
											    <td> <a href="../elements/id-c7f4185fd876489b9b3d8a87d20a13ce.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-568e42e56e7e492dae2cfaa384f10548.html" target="element"> Sidosryhm&#228;t </a> </td>
											    <td> <a href="../elements/id-568e42e56e7e492dae2cfaa384f10548.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7e969e7ce89443d388be7f3f60663d42.html" target="element"> T&#228;rkeimm&#228;t vaatimukset </a> </td>
											    <td> <a href="../elements/id-7e969e7ce89443d388be7f3f60663d42.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a5c7c6cdfdc14332aadb84cd933ae3ec.html" target="element"> Tietohakemisto (ei tuplia) </a> </td>
													    <td> <a href="../elements/id-a5c7c6cdfdc14332aadb84cd933ae3ec.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-531a5563b57e4ad8a56b91d9c2aea4c5.html" target="element"> Tietohakemisto export ja import </a> </td>
													    <td> <a href="../elements/id-531a5563b57e4ad8a56b91d9c2aea4c5.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b0a03a0f56c841a98810488fdcf9e15c.html" target="element"> Helppo piirt&#228;&#228; diagrammeja - tehd&#228;&#228;n heti ty&#246;pajassa </a> </td>
													    <td> <a href="../elements/id-b0a03a0f56c841a98810488fdcf9e15c.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-51881218064f4e1ea444960ede6f4f1b.html" target="element"> Nopea julkaisu - mallin jakaminen kohdeyleis&#246;lle heti </a> </td>
													    <td> <a href="../elements/id-51881218064f4e1ea444960ede6f4f1b.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-db4970bbf92e4b0ba97d6e84e3d820f2.html" target="element"> Malli katseluoikedella: Ei erillist&#228; ty&#246;kalua </a> </td>
													    <td> <a href="../elements/id-db4970bbf92e4b0ba97d6e84e3d820f2.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a7b28ec4f61c41a2acfdac4d05f52633.html" target="element"> Piirtoty&#246;kalua kehitet&#228;&#228;n aktiivisesti </a> </td>
													    <td> <a href="../elements/id-a7b28ec4f61c41a2acfdac4d05f52633.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bcbad8aa16174b389f8b825ff056daec.html" target="element"> Noudattaa ArchiMatea (uusi versio) </a> </td>
													    <td> <a href="../elements/id-bcbad8aa16174b389f8b825ff056daec.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-93ccdbf7aa5f4561b3832ac67a16baff.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-93ccdbf7aa5f4561b3832ac67a16baff.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2d830a2d9fa14fedab0d2b541f690be9.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2d830a2d9fa14fedab0d2b541f690be9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-e4d9027a8f8247dbb2a539ed0b0b6f45.html" target="element"> Sovelletaan JHS:&#228;&#228; - tehd&#228;&#228;n JHS mukaisesti + viitekehys on hyv&#228; </a> </td>
											    <td> <a href="../elements/id-e4d9027a8f8247dbb2a539ed0b0b6f45.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-7cfb3eab9e2d414a8ba2504e22c52907.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7cfb3eab9e2d414a8ba2504e22c52907.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-562b94b0f96f40c89ec417193c744c85.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-562b94b0f96f40c89ec417193c744c85.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-b4a793698800402f8088f831873ff7b8.html" target="element"> Tehd&#228;&#228;n vain yhteen kertaan ja generoidaan automaattisesti esim. tihl-malli </a> </td>
											    <td> <a href="../elements/id-b4a793698800402f8088f831873ff7b8.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2691541632754069b6e411e3194005ce.html" target="element"> Kaikki diagrammit samalla ty&#246;kalulla mahdollisuuksien mukaan </a> </td>
											    <td> <a href="../elements/id-2691541632754069b6e411e3194005ce.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-f52b900298b74800b44759abb966e172.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f52b900298b74800b44759abb966e172.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-87d84cfdf0b44d9a99122f4eac51f191.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-87d84cfdf0b44d9a99122f4eac51f191.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-366aeacb59924d5694522ce85133e993.html" target="element"> mallintaja </a> </td>
											    <td> <a href="../elements/id-366aeacb59924d5694522ce85133e993.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-93eabb2b47ac40d1ae5d624befabdbbe.html" target="element"> katselija </a> </td>
											    <td> <a href="../elements/id-93eabb2b47ac40d1ae5d624befabdbbe.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-07f1aaeef3644190817dd50ddfb26dc6.html" target="element"> ext-mallintaja </a> </td>
											    <td> <a href="../elements/id-07f1aaeef3644190817dd50ddfb26dc6.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-63f3b1a5247347388fd3edea594d8b9e.html" target="element"> CFO </a> </td>
											    <td> <a href="../elements/id-63f3b1a5247347388fd3edea594d8b9e.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cc5a36a8bb384901943dacd7af0d5d04.html" target="element"> CIO </a> </td>
											    <td> <a href="../elements/id-cc5a36a8bb384901943dacd7af0d5d04.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c559fb09cd4941f1a7d9c4ed3f8016a6.html" target="element"> Virallista valintaa ei ole tehty </a> </td>
											    <td> <a href="../elements/id-c559fb09cd4941f1a7d9c4ed3f8016a6.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-202d5b5d07d94789b254277aa8644227.html" target="element"> QPR puutteet </a> </td>
											    <td> <a href="../elements/id-202d5b5d07d94789b254277aa8644227.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-37c5243cc5d64822a27f1ba82659c691.html" target="element"> Halutaan KA hy&#246;dyt </a> </td>
											    <td> <a href="../elements/id-37c5243cc5d64822a27f1ba82659c691.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7748462e6e1c4660a458b914b2785e56.html" target="element"> Halutaan k&#228;ytt&#228;&#228; tuoretta ArchiMatea </a> </td>
											    <td> <a href="../elements/id-7748462e6e1c4660a458b914b2785e56.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b3919dacbc39497380db7b6910fe9358.html" target="element"> ext-katselija </a> </td>
											    <td> <a href="../elements/id-b3919dacbc39497380db7b6910fe9358.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
											    <td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-094855c05c6f44b1be868ab84e8ba892.html" target="element"> Ty&#246;kalun kustannus vs. hy&#246;ty pit&#228;&#228; olla j&#228;rkev&#228; </a> </td>
													    <td> <a href="../elements/id-094855c05c6f44b1be868ab84e8ba892.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d739d3a42590459796f5f8643229a534.html" target="element"> Lisenssien helppo  hallinta </a> </td>
													    <td> <a href="../elements/id-d739d3a42590459796f5f8643229a534.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8e8f96f4195e480e93201bbedaf16562.html" target="element"> Tyylikk&#228;&#228;n n&#228;k&#246;iset diagrammit </a> </td>
													    <td> <a href="../elements/id-8e8f96f4195e480e93201bbedaf16562.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0ab740206f8246bb8f29817623acdd25.html" target="element"> Cross-platform </a> </td>
													    <td> <a href="../elements/id-0ab740206f8246bb8f29817623acdd25.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bf5f771532b247b492a4a4ead731f4f1.html" target="element"> JHS tuki </a> </td>
													    <td> <a href="../elements/id-bf5f771532b247b492a4a4ead731f4f1.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5d689b3953ab49ee82af20b31291d79f.html" target="element"> TOGAF tuki </a> </td>
													    <td> <a href="../elements/id-5d689b3953ab49ee82af20b31291d79f.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0332c7fc3b57419693104fe519a9f6fe.html" target="element"> BPMN tuki </a> </td>
													    <td> <a href="../elements/id-0332c7fc3b57419693104fe519a9f6fe.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0988f61312f24476937c527a08e1a600.html" target="element"> Tihl-mallin synkronointi automaattisesti </a> </td>
													    <td> <a href="../elements/id-0988f61312f24476937c527a08e1a600.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bdde125cc99740b29c6c2d93fcd596a5.html" target="element"> Ty&#246;kaluun voidaan tehd&#228; data-import ja saadaan malli </a> </td>
													    <td> <a href="../elements/id-bdde125cc99740b29c6c2d93fcd596a5.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-97f8772ee6e7433380e46fc8052cf317.html" target="element"> Tietohakemistosta voidaan generoida tihl-malli </a> </td>
													    <td> <a href="../elements/id-97f8772ee6e7433380e46fc8052cf317.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-26cb2de6d0f049e3b663fb6cac9d03e9.html" target="element"> Mallien versiohallinta </a> </td>
													    <td> <a href="../elements/id-26cb2de6d0f049e3b663fb6cac9d03e9.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-93b24ca8d1f4412493f9949e2e1dc2ee.html" target="element"> Mallien helppo jakelu </a> </td>
													    <td> <a href="../elements/id-93b24ca8d1f4412493f9949e2e1dc2ee.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0ca95215249448ba95c285ae69976ccf.html" target="element"> Yhteisty&#246; - co-edit </a> </td>
													    <td> <a href="../elements/id-0ca95215249448ba95c285ae69976ccf.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-08f28d14436f4dfa9367773850dd56cb.html" target="element"> Mallien oikeuksien hallinta </a> </td>
													    <td> <a href="../elements/id-08f28d14436f4dfa9367773850dd56cb.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b1615d7ee4bf479f8120d059080aafcb.html" target="element"> Helppo asennus </a> </td>
													    <td> <a href="../elements/id-b1615d7ee4bf479f8120d059080aafcb.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6bbf7253eb3a4a88ae78c166f4afe08e.html" target="element"> UML tuki </a> </td>
													    <td> <a href="../elements/id-6bbf7253eb3a4a88ae78c166f4afe08e.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-34617b2f59db413095e5bbad2ef4efb9.html" target="element"> Nopea k&#228;ytt&#228;&#228; - ikkunat ei "mulju" </a> </td>
													    <td> <a href="../elements/id-34617b2f59db413095e5bbad2ef4efb9.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-54ec83f90ba34a759d34ba81166782f1.html" target="element"> Viimeistelty look &amp; feel </a> </td>
													    <td> <a href="../elements/id-54ec83f90ba34a759d34ba81166782f1.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-01ea9d8460c54a36a21cb3e25285d9c1.html" target="element"> Open Source </a> </td>
													    <td> <a href="../elements/id-01ea9d8460c54a36a21cb3e25285d9c1.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-92ac491cd0ea42d4a7cfee5c866e7e88.html" target="element"> Ei SaaS </a> </td>
													    <td> <a href="../elements/id-92ac491cd0ea42d4a7cfee5c866e7e88.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3de3aef006ac40fdbce13511c63d7fff.html" target="element"> Yhteentoimivuus: Standardi export ja import </a> </td>
													    <td> <a href="../elements/id-3de3aef006ac40fdbce13511c63d7fff.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e934fb7de90d4a148698f96c5aa786e1.html" target="element"> Vanhojen ArchiMate mallien siirto helppoa </a> </td>
													    <td> <a href="../elements/id-e934fb7de90d4a148698f96c5aa786e1.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-afa227012b124c2f9c403a9430e25ac0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-afa227012b124c2f9c403a9430e25ac0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-25dfba23561e4e50b294d8037bce9c1b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-25dfba23561e4e50b294d8037bce9c1b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/id-6ea6ce212eb347ff8296b04a6cb30219.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ea6ce212eb347ff8296b04a6cb30219.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98b750a04e1c4335a38d6d27b5935955.html" target="element"> Tekemisen periaatteet </a> </td>
																		<td> <a href="../elements/id-31acfc8bf2c1421f9850bb050558e8c7.html" target="element"> Mallit ja diagrammit jaetaan yleis&#246;lle ja ASAP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1a50e09a33dc427c88589a63c812778d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a50e09a33dc427c88589a63c812778d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98b750a04e1c4335a38d6d27b5935955.html" target="element"> Tekemisen periaatteet </a> </td>
																		<td> <a href="../elements/id-0497f48231714d79b179d4c4efd9a129.html" target="element"> Kaikki arkkitehtuurikuvat yhteenpaikkaan </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c5d85b179ab946b69221fd742017c703.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5d85b179ab946b69221fd742017c703.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7e969e7ce89443d388be7f3f60663d42.html" target="element"> T&#228;rkeimm&#228;t vaatimukset </a> </td>
																		<td> <a href="../elements/id-a5c7c6cdfdc14332aadb84cd933ae3ec.html" target="element"> Tietohakemisto (ei tuplia) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-75909cf23d764cb3867f500d8b33fac8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75909cf23d764cb3867f500d8b33fac8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7e969e7ce89443d388be7f3f60663d42.html" target="element"> T&#228;rkeimm&#228;t vaatimukset </a> </td>
																		<td> <a href="../elements/id-531a5563b57e4ad8a56b91d9c2aea4c5.html" target="element"> Tietohakemisto export ja import </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6ff30baa5fbc4edcbf7900a1cbe4f16a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ff30baa5fbc4edcbf7900a1cbe4f16a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7e969e7ce89443d388be7f3f60663d42.html" target="element"> T&#228;rkeimm&#228;t vaatimukset </a> </td>
																		<td> <a href="../elements/id-b0a03a0f56c841a98810488fdcf9e15c.html" target="element"> Helppo piirt&#228;&#228; diagrammeja - tehd&#228;&#228;n heti ty&#246;pajassa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4f0e98da871349cb9b5fe5d473bb0876.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f0e98da871349cb9b5fe5d473bb0876.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7e969e7ce89443d388be7f3f60663d42.html" target="element"> T&#228;rkeimm&#228;t vaatimukset </a> </td>
																		<td> <a href="../elements/id-51881218064f4e1ea444960ede6f4f1b.html" target="element"> Nopea julkaisu - mallin jakaminen kohdeyleis&#246;lle heti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-baf71f5b11084b4986cdf7070596a1c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-baf71f5b11084b4986cdf7070596a1c8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7e969e7ce89443d388be7f3f60663d42.html" target="element"> T&#228;rkeimm&#228;t vaatimukset </a> </td>
																		<td> <a href="../elements/id-db4970bbf92e4b0ba97d6e84e3d820f2.html" target="element"> Malli katseluoikedella: Ei erillist&#228; ty&#246;kalua </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-26c3aac8635e46b08dc8b64edfea934d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-26c3aac8635e46b08dc8b64edfea934d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7e969e7ce89443d388be7f3f60663d42.html" target="element"> T&#228;rkeimm&#228;t vaatimukset </a> </td>
																		<td> <a href="../elements/id-a7b28ec4f61c41a2acfdac4d05f52633.html" target="element"> Piirtoty&#246;kalua kehitet&#228;&#228;n aktiivisesti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5d75ad64adaa4845ab626fe9fbcf1fb8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d75ad64adaa4845ab626fe9fbcf1fb8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7e969e7ce89443d388be7f3f60663d42.html" target="element"> T&#228;rkeimm&#228;t vaatimukset </a> </td>
																		<td> <a href="../elements/id-bcbad8aa16174b389f8b825ff056daec.html" target="element"> Noudattaa ArchiMatea (uusi versio) </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-41d5928af81143aa8d882dbeab8ef44f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41d5928af81143aa8d882dbeab8ef44f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-094855c05c6f44b1be868ab84e8ba892.html" target="element"> Ty&#246;kalun kustannus vs. hy&#246;ty pit&#228;&#228; olla j&#228;rkev&#228; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7c7f26be2e7a4627b7c84466b5e35f8c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c7f26be2e7a4627b7c84466b5e35f8c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-d739d3a42590459796f5f8643229a534.html" target="element"> Lisenssien helppo  hallinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cfa7767ca273405d87cc8d6f77caffd6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfa7767ca273405d87cc8d6f77caffd6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-8e8f96f4195e480e93201bbedaf16562.html" target="element"> Tyylikk&#228;&#228;n n&#228;k&#246;iset diagrammit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-19a5310476ef4a139ad57e992b010555.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-19a5310476ef4a139ad57e992b010555.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-0ab740206f8246bb8f29817623acdd25.html" target="element"> Cross-platform </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b9f75a734fb34e30bd82127a6cb2062a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b9f75a734fb34e30bd82127a6cb2062a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-bf5f771532b247b492a4a4ead731f4f1.html" target="element"> JHS tuki </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f4abcf8f644c4bd784c40504b353e983.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4abcf8f644c4bd784c40504b353e983.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-5d689b3953ab49ee82af20b31291d79f.html" target="element"> TOGAF tuki </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ffc5433f43cf4dd0af4ffc309fd1dabe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ffc5433f43cf4dd0af4ffc309fd1dabe.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-0332c7fc3b57419693104fe519a9f6fe.html" target="element"> BPMN tuki </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2cc853d69b83403caf69c94d8e7009f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2cc853d69b83403caf69c94d8e7009f2.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-0988f61312f24476937c527a08e1a600.html" target="element"> Tihl-mallin synkronointi automaattisesti </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f9a13b1a0f064f188746fa5fc97a2d03.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f9a13b1a0f064f188746fa5fc97a2d03.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-bdde125cc99740b29c6c2d93fcd596a5.html" target="element"> Ty&#246;kaluun voidaan tehd&#228; data-import ja saadaan malli </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-462d092a0ba1402dbec97df40264de87.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-462d092a0ba1402dbec97df40264de87.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-97f8772ee6e7433380e46fc8052cf317.html" target="element"> Tietohakemistosta voidaan generoida tihl-malli </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-23447488f67b482a898494e99ae5cd72.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-23447488f67b482a898494e99ae5cd72.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-26cb2de6d0f049e3b663fb6cac9d03e9.html" target="element"> Mallien versiohallinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-67b016f3bfcf4eaeb437eb5409e9d63d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-67b016f3bfcf4eaeb437eb5409e9d63d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-93b24ca8d1f4412493f9949e2e1dc2ee.html" target="element"> Mallien helppo jakelu </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c6c1ef0abdd045f3924ecd6f1de4cc2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6c1ef0abdd045f3924ecd6f1de4cc2c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-0ca95215249448ba95c285ae69976ccf.html" target="element"> Yhteisty&#246; - co-edit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-203164400771466b8b864561592b2a1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-203164400771466b8b864561592b2a1f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-08f28d14436f4dfa9367773850dd56cb.html" target="element"> Mallien oikeuksien hallinta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c04c2a93d3344968a3a9166f8e177e6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c04c2a93d3344968a3a9166f8e177e6c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-b1615d7ee4bf479f8120d059080aafcb.html" target="element"> Helppo asennus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-964600355e634dadb1ac2bf4240c5bc9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-964600355e634dadb1ac2bf4240c5bc9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-6bbf7253eb3a4a88ae78c166f4afe08e.html" target="element"> UML tuki </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3787ec22ff8d4987a640312a8305166b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3787ec22ff8d4987a640312a8305166b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-34617b2f59db413095e5bbad2ef4efb9.html" target="element"> Nopea k&#228;ytt&#228;&#228; - ikkunat ei "mulju" </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-699bd20a6d634c859e70921b5490a02e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-699bd20a6d634c859e70921b5490a02e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-54ec83f90ba34a759d34ba81166782f1.html" target="element"> Viimeistelty look &amp; feel </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4eb830b414084ef8abc86a33fa0219eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4eb830b414084ef8abc86a33fa0219eb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-01ea9d8460c54a36a21cb3e25285d9c1.html" target="element"> Open Source </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3b0c8565d9474e318a5e41dcbb3f9742.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3b0c8565d9474e318a5e41dcbb3f9742.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-92ac491cd0ea42d4a7cfee5c866e7e88.html" target="element"> Ei SaaS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6ac66fbf66544d4daaba927fce64f899.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ac66fbf66544d4daaba927fce64f899.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-3de3aef006ac40fdbce13511c63d7fff.html" target="element"> Yhteentoimivuus: Standardi export ja import </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-74e8b9b088124b72b23e0e85ab7ae1f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74e8b9b088124b72b23e0e85ab7ae1f7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-75259d9e36f647969b7f8998dc17210c.html" target="element"> Muut vaatimukset - harkinnan mukaan </a> </td>
																		<td> <a href="../elements/id-e934fb7de90d4a148698f96c5aa786e1.html" target="element"> Vanhojen ArchiMate mallien siirto helppoa </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-32d22788deda46d69fa0e7b21e8ca53c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-32d22788deda46d69fa0e7b21e8ca53c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0988f61312f24476937c527a08e1a600.html" target="element"> Tihl-mallin synkronointi automaattisesti </a> </td>
																				<td> <a href="../elements/id-bdde125cc99740b29c6c2d93fcd596a5.html" target="element"> Ty&#246;kaluun voidaan tehd&#228; data-import ja saadaan malli </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e7bae20811774c73a6d99c8fe087eac3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e7bae20811774c73a6d99c8fe087eac3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0988f61312f24476937c527a08e1a600.html" target="element"> Tihl-mallin synkronointi automaattisesti </a> </td>
																				<td> <a href="../elements/id-97f8772ee6e7433380e46fc8052cf317.html" target="element"> Tietohakemistosta voidaan generoida tihl-malli </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>